<div class="tweet">
    <div class="social-feed-element {{? !it.moderation_passed}}hidden{{?}}" dt-create="{{=it.dt_create}}" social-feed-id = "{{=it.id}}">
        <div class='content'>
            <div class="media-body">
                <p>
                    <i class="pull-left fa fa-{{=it.social_network}}"></i>
                    <a class="" href="{{=it.author_link}}" target="_blank">
                        <span class="author-title">{{=it.author_name}}</span>
                    </a>
                </p>
                <div class='text-wrapper'>
                    <p class="social-feed-text">{{=it.text}} <a href="{{=it.link}}" target="_blank" class="read-button">read more</a></p>
                </div>
            </div>
        </div>
        {{=it.attachment}}
    </div>
</div>